<%= content_for(:content_header, 'Permission List')%>
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header custom">
        <div class="box-tools custom">
          <div class="col-xs-6 col-md-2 pull-right">
            <%= link_to new_iam_permission_path(format: 'js'), class: 'btn btn-block btn-sm btn-custom', data: { target: "#modalDialog", toggle: "modal" } do %>
              <i class="fa fa-plus"></i> &nbsp; Add new permission
            <% end %>
          </div>
        </div>
      </div>
      <div class="clear"></div>
      <!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover" id="tablepermission">
          <tbody>
            <tr>
              <th>No</th>
              <th>Name</th>
              <th>Subject Class</th>
              <th>Action</th>
              <th>Created at</th>
              <th></th>
            </tr>
            <% if !@permissions.blank? %>
              <% counter = 1 %>
              <% @permissions.each do |permission| %>
                <tr>
                  <td><%= counter %></td>
                  <td>
                    <%= permission.name %>
                  </td>
                  <td>
                    <%= permission.subject_class %>
                  </td>
                  <td>
                    <%= permission.action %>
                  </td>
                  <td><%= permission.created_at.strftime('%d, %b %Y') %></td>
                  <td class="text-right">
                    <%= link_to edit_iam_permission_path(id: permission.id, format: 'js'), class: 'btn btn-primary btn-sm', data: { target: "#modalDialog", toggle: "modal" } do %>
                      <i class="fa fa-pencil"></i> Edit
                    <% end %>
                  </td>
                </tr>
                <% counter += 1 %>
              <% end %>
            <% else %>
              <tr>
                <td colspan="6" class="text-center"><strong>No Data</strong></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
</div>
