<% if !@options.blank? %>
  <% counter = 1 %>
  <% @options.each do |option| %>
    <tr>
      <td><%= counter %></td>
      <td>
        <%= option.option_name %>
      </td>
      <td><%= option.option_value %></td>
      <td class="text-right">
        <%= link_to edit_option_path(id: option.id, format: 'js'), class: 'btn btn-sm btn-warning', data: { target: "#modalDialog", toggle: "modal" } do %>
          <i class="fa fa-pencil"></i> Edit
        <% end if can? :update, option %>

        <%= link_to option_path(option.id), method: :delete, class: 'btn btn-sm btn-danger' do %>
          <i class="fa fa-trash"></i> Delete
        <% end if can? :destroy, option %>
      </td>
    </tr>
    <% counter += 1 %>
  <% end %>
<% else %>
  <tr>
    <td colspan="7" class="text-center">
      <h3>No data available</h3>
    </td>
  </tr>
<% end %>
